<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="post" action="/register/submit" >

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <label>이름</label>
            <input name="name">

            <label>닉네임</label>
            <input name="nickname">

            <label>비밀번호</label>
            <input name="password" type="password">

            <label>비밀번호 확인</label>
            <input name="password_check" type="password">

            <label>생년월일</label>
            <input name="birth" type="date">

            <label>성별</label>
            <label>
                <input name="gender" type="radio" value="Male">남자
            </label>
            <label>
                <input name="gender" type="radio" value="Female">여자
            </label>
            <label>
                <input name="gender" type="radio" value="Other">Other
            </label>

            <label>전화번호</label>
            <input name="mobile_number" type="tel">

            <button>제출</button>

        </form>
    </div>
</body>
</html>